---
layout: layouts/home.njk
eleventyNavigation:
  key: Главная
  order: 1
---
{% set maxPosts = collections.posts.length | min(3) %}
<h1>Последние {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }} публикации{% endif %}</h1>

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p><a href="{{ '/posts/' | url }}">Все посты</a></p>
